<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <a href="" class="navbar-brand">Gular</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="is-active" routerLink="shop">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="is-active" routerLink="/account"><i class="fa fa-user"></i> Account</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container p-0 mt-5">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-pills outline-active" style="border-bottom: 1px solid gainsboro; padding-bottom: 10px;">
                <li class="nav-item">
                    <a [routerLink]="'home'" class="nav-link" [routerLinkActive]="['is-active']">Feeds</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['book-list']" class="nav-link" [routerLinkActive]="['is-active']">Book Store</a>
                </li>
                <li class="nav-item">
                    <a routerLink="book-list" class="nav-link" routerLinkActive="active-link">Classes</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['book-list']" class="nav-link" routerLinkActive="active-link">About Us</a>
                </li>
            </ul>
            
            <div class="container p-3">
                <router-outlet></router-outlet>
            </div>
            
        </div>

        <div class="col-md-3" >
            <div class="card shadow"  *ngIf="hasRoute('home')">
                <div class="card-body">
                    popular tags
                </div>
            </div>

            <div class="card shadow" *ngIf="hasRoute('book-list')">
                <div class="card-body">
                    book category
                </div>
            </div>
        </div>

        

        
    </div>
</div>

